/* 
    Document   : estilo
    Created on : 14/08/2012, 04:03:18 PM
    Author     : gonzalezan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

